.restaurant-list {
  display: flex;
  justify-content: center;
}
.restaurant-name {
  padding: 0 25px;
}
.links {
  padding: 25px;
}
nav {
  background-color: orange;
  font-family: "Permanent Marker", cursive;
}
div,
h1,
h2,
h3,
h4 {
  font-family: "Permanent Marker", cursive;
  background-color: red;
  color: white;
}
